* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

input {
    border: none;
}

:root {
    --blue: #3474f6;
    --light-blue: #8fb1f4;
    --gray: #eaeef2;
    --white: #fff;
}

body {
    background: var(--gray);
    font-family: Onest, sans-serif;
}

@font-face {
    font-family: 'Arteks';
    src: url('assets/fonts/Arteks-Regular.otf') format('otf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Arteks';
    src: url(assets/fonts/Arteks-Medium.otf) format('otf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Arteks';
    src: url('assets/fonts/Arteks-Version-Regular.otf') format('otf');
    font-weight: 600;
    font-style: normal;
}

/*:root {*/
/*    --black-text: #161616;*/
/*    --blue: #10367d;*/
/*    --gray-text: #757f84;*/
/*    --gray-shape: #f1f3f4;*/
/*    --gray-form: #f7f7f7;*/
/*    --red: #dc1818;*/
/*    --sky-blue: #508fff;*/
/*    --white: #fdfefe;*/
/*    --gray-shape-2: #f7f9fb;*/
/*    --gray-blue: #eef4ff;*/
/*    --gray-base: #babac0;*/
/*}*/

/*body {*/
/*    font-family: 'SF Pro Display', sans-serif;*/
/*    font-weight: 400;*/
/*    background: var(--white);*/
/*    color: var(--black-text);*/
/*}*/

/*.container {*/
/*    max-width: 1492px;*/
/*    margin: 0 auto;*/
/*}*/

/*.subtitle {*/
/*    font-weight: 400;*/
/*    font-size: 16px;*/
/*    text-transform: uppercase;*/
/*    color: var(--white);*/
/*}*/

/*.title {*/
/*    font-weight: 500;*/
/*    font-size: 36px;*/
/*    line-height: 1.3;*/
/*    letter-spacing: -0.01em;*/
/*}*/

/*.text {*/
/*    font-weight: 500;*/
/*    font-size: 16px;*/
/*    color: var(--gray-text);*/
/*}*/

/*.links {*/
/*    margin-top: 40px;*/
/*    margin-bottom: 35px;*/
/*    display: flex;*/
/*    gap: 15px;*/
/*    align-items: center;*/
/*    font-weight: 400;*/
/*    font-size: 14px;*/
/*    color: var(--gray-text);*/
/*}*/

/*@media screen and (max-width: 1492px) {*/
/*    .container {*/
/*        max-width: 1180px;*/
/*    }*/

/*}*/

/*@media screen and (max-width: 768px) {*/
/*    .container {*/
/*        max-width: 768px;*/
/*        padding: 0 15px;*/
/*    }*/

/*    .links {*/
/*        margin-top: 15px;*/
/*        margin-bottom: 20px;*/
/*        gap: 10px;*/
/*        font-size: 12px;*/
/*    }*/

/*    .title {*/
/*        font-weight: 600;*/
/*        font-size: 18px;*/
/*        line-height: 130%;*/
/*        text-shadow: 0 20px 13px 0 rgba(22, 22, 22, 0.04), 0 100px 80px 0 rgba(22, 22, 22, 0.07);*/
/*    }*/

/*    .text {*/
/*        font-size: 12px;*/
/*    }*/


/*}*/

.container {
    max-width: 1298px;
    margin: 0 auto;
}

@media screen and (max-width: 1297px) {
    .container {
        max-width: 692px;
    }
}

@media screen and (max-width: 756px) {
    .container {
        width: 100%;
        max-width: 755px;
        margin: 0 16px;
    }

    .advantages img {
        width: 100%;
    }
}

#myVideo {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Для мобильных устройств */
@media (max-width: 767px) {
    #myVideo {
        width: 100% !important;
        height: auto;
    }
}