* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

input {
    border: none;
}

html, body {
    overflow-x: hidden;
    max-width: 100%;
}


html {
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}


:root {
    --blue: #3474f6;
    --light-blue: #8fb1f4;
    --gray: #eaeef2;
    --white: #fff;
}

body {
    background: var(--gray);
    font-family: Onest, sans-serif;
}

@font-face {
    font-family: 'Arteks';
    src: url('assets/fonts/Arteks-Regular.otf') format('otf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Arteks';
    src: url(assets/fonts/Arteks-Medium.otf) format('otf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Arteks';
    src: url('assets/fonts/Arteks-Version-Regular.otf') format('otf');
    font-weight: 600;
    font-style: normal;
}

.container {
    max-width: 1298px;
    margin: 0 auto;
}

@media screen and (max-width: 1297px) {
    .container {
        max-width: 692px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 100%;
        margin: 0 16px;
    }

    .advantages img {
        width: 100%;
    }
}

#myVideo {
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: cover; /* Добавляем для консистентности */
}

/* Для мобильных устройств */
@media (max-width: 767px) {
    #myVideo {
        width: 100% !important;
        height: auto;
    }
}

/* Специфичные стили для iOS */
@supports (-webkit-touch-callout: none) {
    #myVideo {
        -webkit-object-fit: cover;
        object-fit: cover;
    }
}

.search-container {
    position: relative;
    margin-top: 12px;
}

.country-search {
    border-bottom: 1px solid var(--light-blue);
    padding: 8px 0 !important;
    border-radius: 0 !important;

    font-weight: 500;
    font-size: 12px;
    line-height: 120%;
    color: var(--light-blue);
    width: 100%;
    outline: none;
    transition: border-color 0.3s;
    height: auto !important;
}


.dropdown-item.hidden {
    display: none;
}