.politics {
    padding-top: 80px;

}

.politics .container {
    border-radius: 10px;
    padding: 32px 24px;
    background: var(--white);
}

.politics-title {
    font-weight: 500;
    font-size: 64px;
    line-height: 100%;
    color: var(--blue);
}

.politics-list {
    margin-top: 36px;
    display: flex;
    gap: 25px;
    flex-direction: column;
}

.politics-list li {
    margin-left: 25px;
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    color: #000;
}

.politics-list ol {
    margin-top: 12px;
    margin-left: -20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.politics-list ol li {
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    color: rgba(0, 0, 0, 0.6);
}

.politics-list ol li ol {
    margin-left: 0;
}

.politics-list ul {
    margin-top: 12px;
    margin-left: -25px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    list-style: initial;
}

.table-wrapper {
    width: 100%;
    border: 1px solid #000;
    border-radius: 8px;
    overflow: hidden;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.table-wrapper table {
    width: 100%;
    border-collapse: collapse;
}

.table-wrapper td {
    padding: 14px;
    vertical-align: top;
    border-bottom: 1px solid #000;
}

.table-header {
    font-weight: bold;
    background: #fff;
}

.table-left {
    width: 25%;
    font-weight: 600;
    border-right: 1px solid #000;
}

.table-right-title {
    font-weight: 600;
}

.table-wrapper tr:last-child td {
    border-bottom: none;
}
